:root {
  font-size: 18px;
  font-weight: 200;
  font-family: "Lilita One", cursive;
  --clr-darkbrown: #210606;
  --clr-orange: #e57a31;
  --clr-darkerorange: #963618;
  --clr-darkviolet: #5d1c94;
  --clr-violet: #f50af5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
a,
h1,
h2,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-darkbrown);
  color: var(--clr-orange);
  text-align: center;
}

.container {
  background-image: url("/src/assets/background5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 0;
}

a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: var(--clr-darkbrown);
}

ul {
  list-style-type: none;
}

body {
  font-size: 16px;
  font-weight: 200;
  font-family: "Lilita One", cursive;
}

@media screen and (min-width: 375px) {
  body {
    font-size: 16px;
    /* Adjustments for slightly larger mobile devices */
  }
  .Welcome {
    font-size: 1rem;
    font-weight: 200;
    color: var(--clr-orange);
    font-family: "Monoton", cursive;
  }
}

/* Tablet styles */
@media screen and (min-width: 768px) {
  body,
  h1 {
    font-size: 18px;
    /* Add other adjustments for tablet sizes here, 
       for example changes in padding, margins etc. */
  }
}

/* Desktop styles */
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
    /* Adjustments for standard desktops go here */
  }
}

/* Large Desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 22px;
    /* Adjustments for larger desktops go here */
  }
}
